@font-face {
	src: url("fonts/DYONISIUS.TTF"); /* DYONISIUS */
}

.wave-text, .event-title {
	-fx-font: 36 "DYONISIUS";
}

.paused-text .text {
	-fx-stroke: #888888;
	-fx-stroke-width: 1px;
}