@font-face {
	src: url("fonts/DYONISIUS.TTF"); /* DYONISIUS */
}

.wave-text, .event-title {
	-fx-font: 36 "DYONISIUS";
}

.paused-text .text {
	-fx-stroke: #888888;
	-fx-stroke-width: 1px;
}

.pause-button {
	-fx-background-color: #888888;
	-fx-background-radius: 3;
}

.pause-button:hover {
	-fx-background-color: #999999;
}

.dont-steal-button {
	-fx-font: bold 30 "Courier New";
	-fx-background-color: #878787;
	-fx-background-radius: 3;
}